Flask==2.2.4
itsdangerous==2.0.1
Jinja2==3.0.3
Flask-Cors==3.0.10
pymongo[tls,srv]==3.7.2
requests==2.22.0
pyjwt==2.4.0
cryptography==41.0.6
python-dotenv==0.10.3
gunicorn==19.9.0
gevent==22.10.2
connexion[swagger-ui]==2.14.1

../lib/auth-middleware
