# python binaries
*.pyc
bin/
/*/bin
.cache/
venv

# virtualenvs
**/venv

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# vim swap files
*.swp

# IDEA:
.idea/
**.iml
**.iml

# IDEA - generated artifacts
**/build/
**/out/

# Apple metadata
**/.DS_Store

# folders
profileservice/__pycache__
profileservice/dao/__pycache__
profileservice/restservice/__pycache__

authservice/credentials.env

# appconfig egg
appconfigservice/app/appconfig.egg-info
