# Default assignment
* @sandeep-ps

# CHANGELOG
CHANGELOG.md @minump @bingzhang @sandeep-ps

# App Config Building Block
/appconfigservice/ @minump

# Authentication Middleware Library
/lib/auth-middleware/ @sandeep-ps

# API Doc
/Dockerfile @sandeep-ps
/README @sandeep-ps

# Events Building Block
/eventservice/ @bingzhang

# Logging Building Block
/loggingservice/ @sandeep-ps

# Profile Building Block
/profileservice/ @sandeep-ps

# Contributions Building Block
/contributions/* @minump
/contributions/api/ @minump

# Contributions Catalog
/contributions/catalog/ @minump
