<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/filter.css') }}">
<!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">-->
</head>
<body>

<!-- MAIN (Center website) -->
<div class="main">

<h1>Contribution Catalog / Packager</h1>
<!--<hr>-->

<!--<h2>PORTFOLIO</h2>-->

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('capability')"> Capability</button>
  <button class="btn" onclick="filterSelection('talent')"> Talent</button>
</div>

<div class="row">
  <div class="column capability">
    <div class="content">
      <img src=""  style="width:100%">
      <h4>capability</h4>
      <p>description..</p>
      <span class="label label-default">App Config</span>
    </div>
  </div>
  <div class="column capability">
    <div class="content">
    <img src="" style="width:100%">
      <h4>capability</h4>
      <p>description..</p>
      <span class="label label-default">Profile</span>
    </div>
  </div>
  <div class="column capability">
    <div class="content">
    <img src=""  style="width:100%">
      <h4>capability</h4>
      <p>description..</p>
      <span class="label label-default">Login</span>
    </div>
  </div>

  <div class="column talent">
    <div class="content">
      <img src=""  style="width:100%">
      <h4>talent</h4>
      <p>description..</p>
      <span class="label label-default">Login</span>
    </div>
  </div>
  <div class="column talent">
    <div class="content">
    <img src="" style="width:100%">
      <h4>talent</h4>
      <p>description..</p>
      <span class="label label-default">Auth</span>
    </div>
  </div>
  <div class="column talent">
    <div class="content">
    <img src=""  style="width:100%">
      <h4>talent</h4>
      <p>description..</p>
      <span class="label label-default">Events</span>
    </div>
  </div>

<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
</html>
