html * {
    font-family: proxima-nova,sans-serif;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #2a4b45;
    width: 100%;
    order: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: #4c4c4c;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #88aeaf;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    margin: 473px 0 0;
    padding: 30px 412px 0px 412px;
    transform: rotate(-360deg);
    background-color: #13294b;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
}

input[type=text], select, textarea {
    color: #090000;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


input[type=submit] {
    background-color: #84af9d;
    color: #090000;
    padding: 15px 25px;
    text-align: center;
    margin: 5px 5px;
    transition-duration: 0.2s;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
    /*color: white;*/
}

input[type=reset] {
    background-color: #6b9ec0;
    color: #090000;
    padding: 15px 25px;
    text-align: center;
    margin: 5px 5px;
    transition-duration: 0.2s;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=reset]:hover {
    background-color: #378bc4;
    /*color: white;*/
}

/*input:hover {*/
/*     color: white;*/
/*}*/

.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.key-val {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 5px 5px;
    transition-duration: 0.2s;
    cursor: pointer;
    float: none;
}

.button1 {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    display: inline-block;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
}

.button2 {
    background-color: white;
    color: black;
    border: 1px solid #008CBA;
    display: inline-block;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
    display: inline-block;
}

.button3 {
    color: black;
    display: inline-block;
    border-radius: 24px;
    border: solid 2px #e84a27;
    background-color: #fff;
}

.button3:hover {
    color: white;
    display: inline-block;
    border-radius: 24px;
    border: solid 2px #e84a27;
    background-color: #e84a27;
}

.button4 {
    background-color: white;
    color: black;
    border: 1px solid #e7e7e7;
    display: inline-block;
}

.button4:hover {
    background-color: #e7e7e7;
}

.button5 {
    background-color: white;
    color: black;
    display: inline-block;
    border: solid 2px #e84a27;
    border-radius: 24px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    padding: 5px 15px 5px 15px;
}

.button5:hover  {
    color: white;
    border: solid 2px #e84a27;
    background-color: #e84a27;
}

/* Style the buttons */
.cardfilter {
    margin-top: 12px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.cardfilter:hover {
    background-color: #ddd;
    color: white;
}

.cardfilter.active {
    background-color: #666;
    color: white;
}

#header {
    border: none;
    margin: auto;
    padding: 30px;
    max-width: 1000px;
    background-image: url("../bookshelf.jpg");
    background-repeat: no-repeat;
    height: 200px;
    width: 1000px;
    background-position: center;
    background-size: auto;
    position: relative;
    object-fit: contain;
}

#title {
    text-align: center;
    position: relative;
    top: 25%;
    color: white;
    font-size: 32px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}


/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* the card feature */
.card {
    background-color: #FFFFFF;
    /*background: url("https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");*/
    height: 160px;
    box-shadow: 0 0 4px 0 #d2d2d2;
    padding: 10px;
    transition-duration: 0.2s;
    border: solid 1px #dadde1;
    border-radius: 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.card:hover {
    box-shadow: 0 0 4px 0 #d2d2d2;
}

/* the card feature */
/*.content {*/
/*    background-color: #f7f3f3;*/
/*    !*background: url("https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");*!*/
/*    height: 160px;*/
/*    box-shadow: 0 4px 8px 0 rgba(98, 66, 66, 0.2);*/
/*    padding: 10px;*/
/*    transition-duration: 0.2s;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    overflow-wrap: break-word;*/
/*    word-wrap: break-word;*/

/*}*/

/*.content:hover {*/
/*    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);*/
/*    cursor: pointer;*/
/*    text-decoration: #8fd19e;*/
/*}*/

.required:after {
    content: " *";
    color: red;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus {
    box-shadow: 0 0 5px 1px red;
    /*background-color: #e2dc8d;*/
}

/* Dotted border */
hr.dotted {
    border-top: 5px dotted #919590;
}

/* Submit Modal (background) */
#submit-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #2a4b45;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #2a4b45;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*z-index: 1;*/
    cursor: pointer;
}

.dropdown-content a {
    float: right;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding-right: 50px;
    padding-left: 50px;
    text-align: right;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f4f7f5;
    border: grey;
    border-radius: 5%;
}

.show {
    display: block;
}

.link {
    color: #e84a27;
}

.contribution-link {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #002855;
    text-decoration: underline;
    text-decoration-color: #e84a27;
    text-underline-offset: 5px;
}

#togglePassword {
    cursor: pointer;
    position: relative;
}

#env-var-close-btn {
    cursor: pointer;
    position: relative;
    margin-left: 1%;
}

input.envvar-key[type=text] {
    width: 47%;
    display: table-cell;
}

input.envvar-value {
    width: 47%;
    margin-left: 1%;
    margin-right: 1%;
    display: table-cell;
}

input.datadel-endpoint[type=text] {
    width: 47%;
    display: inline-block;
}

input.datadel-api {
    width: 47%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}

.hidetext { -webkit-text-security: disc; }
.showtext { -webkit-text-security: none; }

h1 {
    font-size: 32px;
    height: 36px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #13294b;
}

h2 {
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #13294b;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #13294b;
}

h4{
    font-size: 16px;
    height: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #13294b;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #404040;
}

.small-body-text {
    font-size: 14px;
    height: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    margin: 7px auto;
    text-align: left;
    color: #404040;
}

.row {
  display: flex;
  flex-wrap: wrap;
}