from dotenv import load_dotenv

# Load .env file
load_dotenv()

EVENT_MONGO_URL="mongodb://localhost:27017"
EVENT_DB_NAME="eventdb"

IMAGE_COLLECTION='images'
IMAGE_FILE_MOUNTPOINT="~/images/"
# set up maximum upload size
MAX_CONTENT_LENGTH=4*1024*1024
ALLOWED_EXTENSIONS = {'txt', 'pdf', 'png', 'jpg', 'jpeg', 'gif'}

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_IMAGE_FOLDER_PREFIX="events"
BUCKET=""
REGION=""