EVENT_MONGO_URL="mongodb://localhost:27017"
EVENT_DB_NAME="eventdb"

IMAGE_FILE_MOUNTPOINT="~/images/"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_IMAGE_FOLDER_PREFIX="events"
BUCKET=""
REGION=""