Flask==2.2.4
pymongo[tls,srv]==3.7.2
requests==2.22.0
pyjwt==2.4.0
cryptography==41.0.4
gunicorn==20.0.4
boto3==1.9.188
python-dotenv==0.10.3
gevent==22.10.2
diskcache==4.0.0
connexion[swagger-ui]==2.14.1

../lib/auth-middleware
