<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='js/modernizr.js') }}" rel="javascript">
    <script src="../../../static/js/modernizr.js"></script> <!-- Modernizr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Capability Details</title>
    <style>
        .hidetext { -webkit-text-security: disc; }
        .showtext { -webkit-text-security: none; }
    </style>
</head>

<body onload=start()>

<div class="header">
    {% include 'topnav.html' %}
</div>

<div class="container">
    <h1>Capability Details</h1>

    <hr class="divider"/>
    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Capability Name </h4>
        </div>
        <p class="col-sm-9">{{post.name}}</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Capability description </h4>
        </div>
        <p class="col-sm-9">{{post.description}}</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Is code open source?</h4>
        </div>
        <p class="col-sm-9">{{post.isOpenSource}}</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Source code repository URL</h4>
        </div>
        <p class="col-sm-9">{{post.sourceRepoUrl}}</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Api Documentation URL</h4>
        </div>
        <p class="col-sm-9">{{post.apiDocUrl}}</p>
    </div>

    {% if post.deploymentDetails%}
    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Deployment status (Internal vs External)</h4>
        </div>
        <p class="col-sm-9">{{post.deploymentDetails.location}}</p>
    </div>
    {% endif %}

    {% if reviewer %}
        {% if post.version %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Version</h4>
            </div>
            <p class="col-sm-9">{{post.version}}</p>
        </div>
        {% endif %}
        {% if post.healthCheckUrl %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Health Check URL</h4>
            </div>
            <p class="col-sm-9">{{post.healthCheckUrl}}</p>
        </div>
        {% endif %}
        {% if post.dataDeletionEndpointDetails %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Data Deletion Endpoint Details</h4>
            </div>
            <p class="col-sm-9">
                <table>
                    {% if post.dataDeletionEndpointDetails.apiKey %}
                    <tr>
                        <td><b>Api Key&nbsp;&nbsp;</b></td>
                        <td>{{post.dataDeletionEndpointDetails.apiKey}}</td>
                    </tr>
                    {% endif %}
                    {% if post.dataDeletionEndpointDetails.deletionEndpoint %}
                    <tr>
                        <td><b>Deletion Endpoint&nbsp;&nbsp;</b></td>
                        <td>{{post.dataDeletionEndpointDetails.deletionEndpoint}}</td>
                    </tr>
                    {% endif %}
                    {% if post.dataDeletionEndpointDetails.description %}
                    <tr>
                        <td><b>Description&nbsp;&nbsp;</b></td>
                        <td>{{post.dataDeletionEndpointDetails.description}}</td>
                    </tr>
                    {% endif %}
                </table>
            </p>
        </div>
        {% endif %}
        {% if post.deploymentDetails %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Deployment Details</h4>
            </div>
            <p class="col-sm-9">
                <table>
                    {% if post.deploymentDetails.authMethod %}
                    <tr>
                        <td><b>Auth Method&nbsp;&nbsp;</b></td>
                        <td>{{post.deploymentDetails.authMethod}}</td>
                    </tr>
                    {% endif %}
                    {% if post.deploymentDetails.databaseDetails %}
                    <tr>
                        <td><b>Database Details&nbsp;&nbsp;</b></td>
                        <td>{{post.deploymentDetails.databaseDetails}}</td>
                    </tr>
                    {% endif %}
                    {% if post.deploymentDetails.environmentVariables %}
                    <tr>
                        <td valign="top"><b>Environment Variables&nbsp;&nbsp;</b></td>
                        <td>
                            {% for envvar in post.deploymentDetails.environmentVariables %}
                                <table>
                                    {% for key,val in envvar.items() %}
                                        <tr>
                                            {% if loop.index %2 == 0 %}
                                                <td>{{key}}: </td>
                                                <td style="text-align: center;" class="hidetext">{{val}} </td>
                                                <td><i class="bi bi-eye-slash field_icon" id="toggleText" style="cursor: pointer;"></i></td>
                                            {% else %}
                                                <td>{{key}}: </td>
                                                <td>{{val}} </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if post.deploymentDetails.location %}
                    <tr>
                        <td><b>Location&nbsp;&nbsp;</b></td>
                        <td>{{post.deploymentDetails.location}}</td>
                    </tr>
                    {% endif %}
                </table>
            </p>
        </div>
        {% endif %}
    {% endif %}

    <button class="button button3" onclick="get_url()">View Contribution</button>
</div>


<div class="action">

</div>

{% include 'topnav_javascript.html' %}

<script>
    var post = JSON.parse('{{ post | tojson | safe}}');
    function get_url(){
        var cur_url = window.location.href.split('/');
        var res = '';
        for (let i = 0; i < cur_url.length-1; i++){
            res += cur_url[i];
            if (cur_url[i+1] == 'talents' || cur_url[i+1] == 'capabilities'){
                break;
            }
            res += '/';
        }
        window.location.href = res;
    }

    var user_icon = document.getElementById('user_profile');
    user_icon.addEventListener('click', function () {
        if (user_icon.style.display === '') {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    });

    // toggle sensitive data visibility
    $('.bi').each(function () {
        let eye = $(this);
        eye.on('click', function() {
            let icon = $(this);
            icon.toggleClass("bi-eye");
            // get the current row
            var current_row = icon.closest("tr");
            // get the current row 2nd cell value
            var $cell_value = current_row.find("td:eq(1)");
            //cell_value.classList.toggle("hidetext");
            if (icon.hasClass('bi-eye')) {
                $cell_value.className = "showtext";
                //cell_value.attr("style", "-webkit-text-security: none");
                //cell_value.attr("style", "text-align: center");
                //cell_value.attr('type', 'text');
            }
            else if (icon.hasClass('bi-eye-slash')) {
                $cell_value.className = "hidetext";
                //cell_value.attr("style", "-webkit-text-security: disc");
                //cell_value.attr("style", "text-align: center");
                //cell_value.attr('type', 'password');
            }

        });
    });
</script>
</body>
</html>
