<!DOCTYPE html>
<html lang="en">
<head>
    <title> Capability Catalog </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='js/modernizr.js') }}" rel="javascript">
    <script src="../../static/js/modernizr.js"></script> <!-- Modernizr -->

    <style>
        .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
            background-color: #2a4b45;
        }

        .dropdown-content {
            display: none;
            position: relative;
            background-color: #2a4b45;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            /*z-index: 1;*/
            cursor: pointer;
        }

        .dropdown-content a {
            float: right;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            padding-right: 50px;
            padding-left: 50px;
            text-align: right;
            cursor: pointer;
        }

        .dropdown-content a:hover {
            background-color: #f4f7f5;
            border: grey;
            border-radius: 5%;
        }

        .show {
            display: block;
        }

    </style>
</head>


<body>
<div class="container-fluid">
    <div class="topnav" id="myTopnav">
        <a href="{{ url_for('contribute.home') }}"><i class="fa fa fa-home fa-lg"></i> Contributions Catalog</a>
        <a href="{{ url_for('contribute.create') }}"><i class="fa fa-plus-square fa-lg"></i> Contribute</a>
        <div class="topnav-right" id="nav_greeting" style="float: right; margin-right: 15px;">
            <meta id="nav-user-data">
            <a class="dropbtn" id="user_profile"><i class="fa fa-fw fa-user fa-lg"></i> Hello, {{ user }}! </a>
        </div>


    </div>
    <div class="dropdown-content" id="myDropdown" style="display: none">
        <a href="{{ url_for('contribute.logout') }}">Logout</a>
    </div>

    <div>
        <nav>
            <ol class="cd-multi-steps text-top">
                <li class="current"><a href="#contribute">Contribution Details</a></li>
                <li><em><a href="#capability">Capability and/or Talent Details </a></em></li>
                <li><em><a href="#contact">Contact & Self-certification</a></em></li>
                <li><em>Submit</em></li>
            </ol>
        </nav>
    </div>

    <form class="form-horizontal" method="POST" onsubmit="return data_validation()">
        <div class="container">
            <h2 id="contribute">Contribution Details</h2>

            <div class="form-group">
                <label class="required control-label col-sm-2">Contribution Name</label>
                <div class="col-sm-10" id="contribution_name_div">
                    <input class="form-control" id="contribution_name" name="contribution_name"
                           placeholder="Give a name for your contribution" type="text">
                    <p class="error_message"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="required control-label col-sm-2">Short Description</label>
                <div class="col-sm-10">
                    <input class="form-control" id="contribution_description"
                           name="contribution_shortDescription"
                           placeholder="Give a short description"
                           type="text"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Long Description</label>
                <div class="col-sm-10"><textarea id="contribution_detail" name="contribution_longDescription"
                                                 placeholder="Give a detailed description"
                                                 style="height:150px"></textarea></div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">Contribution Admins</label>
                <div class="col-sm-10">
                    <input class="form-control" id="contribution_Admins"
                           name="contribution_contributionAdmins"
                           placeholder="Give a list of admin names, seperated by comma"
                           type="text"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Contributor Details</label>
                <!--                    <label class="radio-inline"><input type="radio" name="optradio"  onclick="show_person()"> Person</label>-->
                <!--                    <label class="radio-inline"><input type="radio" name="optradio" onclick="show_org()"checked> Organization</label>-->
                <div>
                    <button class="button button1" id="add-contributor-person">Add Person</button>
                    <button class="button button2" id="add-contributor-org">Add Organization</button>
                </div>
                <!--                <div>-->
                <!--                    <button class="button button2" id="add-contributor-org">Add Contributor as Organization</button>-->
                <!--                </div>-->
            </div>

            <div id="organization" style="display: none">
                <div class="form-group">
                    <label class="control-label col-sm-2">Organization Name</label>
                    <div class="col-sm-10"><input class="form-control" id="org_name" name="org_name" placeholder=""
                                                  type="text"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Organization Address</label>
                    <div class="col-sm-10"><input class="form-control" id="org_address" name="org_address"
                                                  placeholder=""
                                                  type="text"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Organization Email</label>
                    <div class="col-sm-10"><input class="form-control" id="org_email" name="org_email" placeholder=""
                                                  type="text"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Organization Phone</label>
                    <div class="col-sm-10"><input class="form-control" id="org_phone" name="org_phone" placeholder=""
                                                  type="text"></div>
                </div>

            </div>

            <div id="contributor" style="display: none">
                <div class="form-group">
                    <label class="control-label col-sm-2">Contributor's first name</label>
                    <div class="col-sm-10"><input class="form-control" id="contributor_fname" name="person_firstName"
                                                  placeholder=""
                                                  type="text"></div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Contributor's middle name</label>
                    <div class="col-sm-10"><input class="form-control" id="contributor_mname" name="person_middleName"
                                                  placeholder=""
                                                  type="text"></div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Contributor's last name</label>
                    <div class="col-sm-10"><input class="form-control" id="contributor_lname" name="person_lastName"
                                                  placeholder=""
                                                  type="text"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Contributor Email</label>
                    <div class="col-sm-10"><input class="form-control" name="person_email" placeholder="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Contributor Phone</label>
                    <div class="col-sm-10"><input class="form-control" name="person_phone" placeholder="" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Affiliation Name</label>
                    <div class="col-sm-10"><input class="form-control" name="affiliation_name" placeholder=""
                                                  type="text"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Affiliation Address</label>
                    <div class="col-sm-10"><input class="form-control" name="affiliation_address" placeholder=""
                                                  type="text"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Affiliation Email</label>
                    <div class="col-sm-10"><input class="form-control" name="affiliation_email" placeholder=""
                                                  type="text"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Affiliation Phone</label>
                    <div class="col-sm-10"><input class="form-control" name="affiliation_phone" placeholder=""
                                                  type="text"></div>
                </div>
            </div>

            <!--            <div><button id = "add-contributor-person" style="display: none">Add more Contributor as Person</button></div>-->
            <!-----------------------------------------capability block ------------------------------------>
            <div class="container">
                <div>
                    <nav>
                        <ol class="cd-multi-steps text-top">
                            <li class="visited"><em><a href="#contribute">Contribution Details</a></em></li>
                            <li class="current"><em><a href="#capability">Capability and/or Talent Details </a></em>
                            </li>
                            <li><em><a href="#contact">Contact & Self-certification</a></em></li>
                            <li><em>Submit</em></li>
                        </ol>
                    </nav>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" id="select-contribution">Select the Contribution Type
                        *</label>
                    <div>
                        <button class="button button2" id="add-capability">Add a Capability</button>
                        OR
                        <button class="button button1" id="add-talent">Add a Talent</button>
                    </div>
                </div>


                <form class="form-horizontal" method="POST">
                    <div id="capability-div" style="display: none; background-color:white">
                        <hr class="dotted">
                        <h3 id="capability">Add a Capability to this Contribution</h3>

                        <div class="form-group">
                            <label class="required control-label col-sm-2">Capability Name</label>
                            <div class="col-sm-10"><input class="form-control" id="capability_name"
                                                          name="capability_name"
                                                          placeholder="Give a name for your capability"
                                                          type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="required control-label col-sm-2">Capability Description</label>
                            <div class="col-sm-10"><input class="form-control" id="capability_description"
                                                          name="capability_description"
                                                          placeholder="Give a short description"
                                                          type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="capability_icon">Upload an ICON for
                                capability</label>
                            <input accept="image/*" id="capability_icon" name="capability_icon" type="file">
                        </div>

                        <div class="form-group">
                            <label class="required control-label col-sm-2"> Is the Code Open Sourced? </label>
                            <label class="form-check-label">
                                <input class="form-check-input" id="open_source"
                                       name="capability_isOpenSource" type="radio">
                                yes</label>
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       name="capability_isOpenSource" type="radio">
                                no</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">API Doc URL</label>
                            <div class="col-sm-10"><input class="form-control" id="api_url" name="capability_apiDocUrl"
                                                          placeholder="API documentation URL"
                                                          type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Source repo URL</label>
                            <div class="col-sm-10"><input class="form-control" id="source_url"
                                                          name="capability_source_url"
                                                          placeholder="Source code repository URL (if open sourced)"
                                                          type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="required control-label col-sm-2">Deployment location</label>
                            <label class="form-check-label"><input class="form-check-input"
                                                                   id="deploy_internal"
                                                                   name="deploymentDetails_location"
                                                                   type="radio"
                                                                   value="internal"> internal</label>

                            <label class="form-check-label">
                                <input class="form-check-input" id="deploy_external"
                                       name="deploymentDetails_location" type="radio"
                                       value="external"> external</label>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="api_base">API Base Location</label>
                            <div class="col-sm-10"><input class="form-control" id="api_base"
                                                          name="capability_apiBaseUrl"
                                                          placeholder="API base URL" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="required control-label col-sm-2" for="docker_img">Docker Image Name</label>
                            <div class="col-sm-10"><input class="form-control" id="docker_img"
                                                          name="deploymentDetails_dockerImageName"
                                                          placeholder="Docker image name (If internally deployed)"
                                                          type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="required control-label col-sm-2">Enviroment Variable(s)</label>
                            <div class="col-sm-10" id="key-val">
                                <input class="form-inline" name="environmentVariables_key" placeholder="Key"
                                       type="text">
                                <input class="form-inline" name="environmentVariables_value" placeholder="Value"
                                       type="text">
                                <br>
                            </div>
                            <div class="row">
                                <button class="button button3" id='add-user' type="submit">Add more fields</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="required control-label col-sm-2">Database Detail</label>
                            <div class="col-sm-10"><input class="form-control" id="db-detail"
                                                          name="deploymentDetails_databaseDetails"
                                                          placeholder="Details of API endpoint to delete user info given the user UUID"
                                                          type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="required control-label col-sm-2">Version</label>
                            <div class="col-sm-10"><input class="form-control" id="version" name="capability_version"
                                                          placeholder="latest version number" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Version URL</label>
                            <div class="col-sm-10"><input class="form-control" id="version_url"
                                                          name="capability_version_url"
                                                          placeholder="" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="required control-label col-sm-2">Health Check URL</label>
                            <div class="col-sm-10"><input class="form-control" id="health"
                                                          name="capability_healthCheckUrl"
                                                          placeholder="health check url"
                                                          type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Status</label>
                            <label class="form-check-label"><input class="form-check-input"
                                                                   id="submitted" name="capability_status"
                                                                   type="checkbox"
                                                                   value="Submitted"> submitted</label>
                            <label class="form-check-label"><input class="form-check-input"
                                                                   id="in review" name="capability_status"
                                                                   type="checkbox"
                                                                   value="Reviewing"> in review</label>
                            <label class="form-check-label"><input class="form-check-input"
                                                                   id="approved" name="capability_status"
                                                                   type="checkbox"
                                                                   value="Approved"> approved</label>
                            <label class="form-check-label"><input class="form-check-input"
                                                                   id="rejected" name="capability_status"
                                                                   type="checkbox"
                                                                   value="Disapproved"> rejected</label>
                            <label class="form-check-label"><input class="form-check-input"
                                                                   id="published" name="capability_status"
                                                                   type="checkbox"
                                                                   value="Published"> published</label>
                        </div>

                        <div class="form-group">
                            <label class="required control-label col-sm-2">Authentication Method</label>
                            <div class="col-sm-10"><input class="form-control" id="auth"
                                                          name="deploymentDetails_authMethod" placeholder=""
                                                          type="text"></div>
                        </div>

                        <div class="form-group">
                            <label class="required control-label col-sm-2">Data Deletion</label>
                            <div class="col-sm-10">
                                <input class="form-inline" id="datadel_endpoint"
                                       name="dataDeletionEndpointDetails_endpoint"
                                       placeholder="Endpoint"
                                       type="text">
                                <input class="form-inline" id="datadel_api"
                                       name="dataDeletionEndpointDetails_api"
                                       placeholder="Api Key"
                                       type="text">
                                <br>
                            </div>
                        </div>


                    </div>


                    <!--------------------------------------------talent block ------------------------------------------>
                    <div class="container" id="talent-div" style="display: none">
                        <hr class="dotted">
                        <h3>Add a Talent to this Contribution</h3>
                        <div class="form-group">
                            <label class="required control-label col-sm-2">Talent Name</label>
                            <div class="col-sm-10"><input class="form-control" id="talent_name" name="talent_name"
                                                          placeholder="Give a name for your talent" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="required control-label col-sm-2">Talent Description</label>
                            <div class="col-sm-10"><input class="form-control" id="talent_description"
                                                          name="talent_shortDescription"
                                                          placeholder="" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Required Building Block(s)</label>
                            <div class="col-sm-10"><input class="form-control" id="required_bb"
                                                          name="talent_requiredBuildingBlocks"
                                                          placeholder="" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Required Capabilit(y/ies)</label>
                            <div class="col-sm-10"><input class="form-control" id="required_capability"
                                                          name="talent_requiredCapabilities"
                                                          placeholder="" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">User Privacy Level</label>
                            <div class="col-sm-10"><input max="5" min="1" name="talent_minUserPrivacyLevel"
                                                          step="1" type="number"/></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">End User Role</label>
                            <label class="form-check-label"><input class="form-check-input" id="student"
                                                                   name="talent_minEndUserRoles"
                                                                   type="checkbox" value="student"> student</label>
                            <label class="form-check-label"><input class="form-check-input" id="visitor"
                                                                   name="talent_minEndUserRoles"
                                                                   type="checkbox" value="visitor"> visitor</label>
                            <label class="form-check-label"><input class="form-check-input" id="alumni"
                                                                   name="talent_minEndUserRoles"
                                                                   type="checkbox"
                                                                   value="alumni"> alumni</label>
                            <label class="form-check-label"><input class="form-check-input" id="employee"
                                                                   name="talent_minEndUserRoles" type="checkbox"
                                                                   value="employee"> employee</label>
                            <label class="form-check-label"><input class="form-check-input" id="parent"
                                                                   name="talent_minEndUserRoles"
                                                                   type="checkbox"
                                                                   value="parent"> parent</label>
                            <label class="form-check-label"><input class="form-check-input" id="fan"
                                                                   name="talent_minEndUserRoles"
                                                                   type="checkbox" value="fan"> fan</label>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Select active date range</label>
                            <label class="form-check-label">start</label>
                            <input class="form-check-input" id="start_day" name="talent_startDate" type="date">
                            <label class="form-check-label"> end</label>
                            <input class="form-check-input" id="end_day" name="talent_endDate" type="date">
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Data Description</label>
                            <div class="col-sm-10"><input id="data_des" name="talent_dataDescription"
                                                          placeholder="Detailed description of the data that is collected by this Talent, how it is used, and how this relates to the privacy level."
                                                          style="height:150px"
                                                          type="text"></div>
                        </div>

                    </div>

                    <!--------------------------------------------contact/privacy check ------------------------------------------>
                    <div>
                        <nav>
                            <ol class="cd-multi-steps text-top">
                                <li class="visited"><a href="#contribute">Contribution Details</a></li>
                                <li class="visited"><em><a href="#capability">Capability and/or Talent Details </a></em>
                                </li>
                                <li class="current"><em><a href="#contact">Contact & Self-certification</a></em></li>
                                <li><em>Submit</em></li>
                            </ol>
                        </nav>

                    </div>

                    <div class="container">
                        <h3 id="contact">Contact Details</h3>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Name</label>
                            <div class="col-sm-10"><input class="form-control" id="contact_name" name="contact_name"
                                                          placeholder="" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Email</label>
                            <div class="col-sm-10"><input class="form-control" id="contact_email" name="contact_email"
                                                          placeholder="" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Phone</label>
                            <div class="col-sm-10"><input class="form-control" id="contact_phone" name="contact_phone"
                                                          placeholder="" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Contact Organization</label>
                            <div class="col-sm-10"><input class="form-control" id="contact_org"
                                                          name="contact_organization"
                                                          placeholder="" type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Official Address</label>
                            <div class="col-sm-10"><input class="form-control" id="contact_address"
                                                          name="contact_officialAddress"
                                                          placeholder="" type="text"></div>
                        </div>

                    </div>

                    <div class="container">
                        <!--        <form class="form-horizontal" method = "POST">-->
                        <h3>Self-certification</h3>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Deleting data upon request</label>
                            <div class="col-sm-10"><input class="form-control"
                                                          name="selfcertificate_dataDeletionUponRequest"
                                                          placeholder="Deleting data upon request"
                                                          type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Respecting privacy setting</label>
                            <div class="col-sm-10"><input class="form-control"
                                                          name="selfcertificate_respectingUserPrivacySetting"
                                                          placeholder="Respecting privacy setting"
                                                          type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Disclose sponsors / ads</label>
                            <div class="col-sm-10"><input class="form-control" name="selfcertificate_discloseAds"
                                                          placeholder="Disclose sponsors / ads"
                                                          type="text"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Disclose right to use images</label>
                            <div class="col-sm-10"><input class="form-control"
                                                          name="selfcertificate_discloseImageRights"
                                                          placeholder="Disclose right to use images"
                                                          type="text"></div>
                        </div>

                        <!-------------------------------------------- submit ------------------------------------------>
                        <div class="row">
                            <input href="{{ url_for('contribute.home') }}"
                                   id="submit_button"
                                   onsubmit="return data_validation()"
                                   type="submit"
                                   value="Submit">
                        </div>

                        <!-- The Modal -->
                        <div class="modal" id="myModal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p id="submit-pop">Please finish the form!</p>
                                <br>
                            </div>

                        </div>
                    </div>


                </form>
            </div>


</body>

<script>
    var modal = document.getElementById("myModal");
    // Get the button that opens the modal
    var btn = document.getElementById("submit_button");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function data_validation() {
        var contribution_name = document.getElementById('contribution_name');
        if (contribution_name.value == "") {
            // window.alert("Please enter the contribution name.");
            contribution_name.focus();
            var x = document.getElementById("contribution_name_div");
            // x.querySelector(".error_message").innerHTML = "This is required!";
            contribution_name.required = true;
            return false;
        }

        var contribution_des = document.getElementById('contribution_description');
        if (contribution_des.value == "") {
            // window.alert("Please enter the contribution description.");
            contribution_des.focus();
            contribution_des.required = true;
            return false;
        }
        var capability_name = document.getElementById('capability_name');
        var talent_name = document.getElementById('talent_name');
        if (capability_name.value == "" && talent_name.value == "") {
            document.getElementById('select-contribution').focus();
            document.getElementById('select-contribution').required = true;
            window.alert("Please enter either a capability or a talent.");
            return false;
        }
        //use capability's validation setting
        if (capability_name.value != "") {
            var capability_description = document.getElementById('capability_description');
            if (capability_description.value == "") {
                // window.alert("Please enter either a capability description.");
                capability_description.focus();
                capability_description.required = true;
                return false;
            }
            // var capability_opensource = document.getElementById('open_source');
            // if (capability_opensource.value == "") {
            //     // window.alert("Please enter if this capability is open-souced.");
            //     capability_opensource.required = true;
            //     capability_opensource.focus();
            //     return false;
            // }
            var deploy_location = document.getElementsByName('deploymentDetails_location')

            var deploy_internal = document.getElementById('deploy_internal')
            var deploy_external = document.getElementById('deploy_external')
            if (!deploy_internal.checked && !deploy_external.checked) {
                window.alert("Please select deployed location.");
                deploy_internal.focus();
                deploy_external.focus();
                return false;
            }
            var dockerimage = document.getElementById('docker_img');
            if (dockerimage.value == "") {
                // window.alert("Please enter the docker image.");
                dockerimage.focus();
                dockerimage.required = true;
                return false;
            }

            var db = document.getElementById('db-detail');
            if (db.value == "") {
                // window.alert("Please enter the database details. ");
                db.focus();
                db.required = true;
                return false;
            }
            var version = document.getElementById('version');
            if (version.value == "") {
                // window.alert("Please enter the version. ");
                version.focus();
                version.required = true;
                return false;
            }
            var health_check = document.getElementById('health');
            if (health_check.value == "") {
                // window.alert("Please enter the health check url. ");
                health_check.focus();
                health_check.required = true;
                return false;
            }
            var authmethod = document.getElementById('auth');
            if (authmethod.value == "") {
                // window.alert("Please enter the auth method. ");
                authmethod.focus();
                authmethod.required = true;
                return false;
            }
            var datadel_endpoint = document.getElementById("datadel_endpoint");
            if (datadel_endpoint.value == "") {
                // window.alert("Please enter the data deletion endpoint. ");
                datadel_endpoint.focus();
                datadel_endpoint.required = true;
                return false;
            }
            var datadel_api = document.getElementById("datadel_api");
            if (datadel_api.value == "") {
                // window.alert("Please enter the data deletion api. ");
                datadel_api.focus();
                datadel_api.required = true;
                return false;
            }
        } else {
            var talent_des = document.getElementById("talent_description");
            if (talent_des.value == "") {
                // window.alert("Please enter the talent description. ");
                talent_des.focus();
                talent_des.required = true;
                return false;
            }
        }

        //success
        // window.location.href = "/contribute";
        var x = document.getElementById('submit-pop').innerHTML = "The contribution form has been submitted!";
    }

    function show_person() {
        var x = document.getElementById("contributor");
        if (x.style.display === "none") {
            x.style.display = "block";
        }

        var y = document.getElementById("add-contributor-person");
        if (y.style.display === "none") {
            y.style.display = "block";
        } else {
            y.style.display = "none";
        }
    }

    function show_org() {
        var x = document.getElementById("organization");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        var a = document.getElementById("contributor");
        if (a.style.display === "block") {
            a.style.display = "none";
        }
    }

    $(function () {
        $("#add-user").click(function (e) {
            e.preventDefault();
            $("#key-val").append("<input name=\"environmentVariables_key\" type=\"text\" placeholder=\"Key\">");
            $("#key-val").append("<input name=\"environmentVariables_value\" type=\"text\" placeholder=\"Value\">");
            $("#key-val").append("<br>");
        });
    });

    function duplicate() {
        var original = document.getElementById('capability' + i);
        var clone = original.cloneNode(true); // "deep" clone
        clone.id = "capability" + ++i; // there can only be one element with an ID
        clone.onclick = duplicate; // event handlers are not cloned
        original.parentNode.appendChild(clone);
    }


    $(function () {
        $("#add-capability").click(function (e) {
            e.preventDefault();
            var original = document.getElementById('capability-div');
            if (original.style.display === "none") {
                original.style.display = "block";
            } else {

                var clone = original.cloneNode(true); // "deep" clone
                if (clone.style.display === "none") {
                    clone.style.display = "block";
                }
                $("#capability-div").append(clone);
                $("#capability-div").append("<br>");
            }

        });
    });

    $(function () {
        $("#add-talent").click(function (e) {
            e.preventDefault();
            var original = document.getElementById('talent-div');
            if (original.style.display === "none") {
                original.style.display = "block";
            } else {
                var clone = original.cloneNode(true); // "deep" clone
                if (clone.style.display === "none") {
                    clone.style.display = "block";
                }
                $("#talent-div").append(clone);
                $("#talent-div").append("<br>");
            }

        });
    });

    $(function () {
        $("#add-contributor-person").click(function (e) {
            e.preventDefault();
            var original = document.getElementById('contributor');
            if (original.style.display === "none") {
                original.style.display = "block";
            } else {
                var clone = original.cloneNode(true); // "deep" clone
                $("#contributor").append(clone);
                $("#contributor").append("<br>");
            }
        });
    });

    $(function () {
        $("#add-contributor-org").click(function (e) {
            e.preventDefault();
            var original = document.getElementById('organization');
            if (original.style.display === "none") {
                original.style.display = "block";
            } else {
                var clone = original.cloneNode(true); // "deep" clone
                $("#organization").append(clone);
                $("#organization").append("<br>");
            }
        });
    });

    var user_icon = document.getElementById('user_profile');
    user_icon.onclick = function () {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (let i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>
</html>