<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://use.typekit.net/qjr3liq.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='js/modernizr.js') }}" rel="javascript">
    <script src="../static/js/modernizr.js"></script> <!-- Modernizr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Contribution Details</title>
</head>

<body onload=start()>
<div class="header">
    {% include 'topnav.html' %}
</div>

<div class="container">

    <h1 id="contribute">Contribution Details</h1>
    <hr class="divider"/>

    <div class="container">
        <!-- contribution details container -->
        <div class="row">
            <div class="col-12 col-md-3">
                <h4>Contribution Name</h4>
            </div>
            <div class="col-12 col-md-9">
                <div class="small-body-text">{{post.name}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-3">
                <h4>Contribution short description</h4>
            </div>
            <div class="col-12 col-md-9">
                <div class="small-body-text">{{post.shortDescription}}</div>
            </div>
        </div>

        {% if post.longDescription %}
            <div class="row">
                <div class="col-12 col-md-3">
                    <h4>Contribution long description</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="small-body-text">{{post.longDescription}}</div>
                </div>
            </div>
        {% endif %}

        {% if post.contributors %}
            <div class="row">
                <div class="col-12 col-md-3">
                    <h4>Contributor details</h4>
                </div>
            </div>

            {% for c in post.contributors %}
                {% set contributor_ns = namespace(firstName='', lastName='', middleName='', address='', phone='', email='',
                name='', contributorType='', affil_name='', affil_address='', affil_phone='', affil_email='') %}
                {% for key,val in c.items() %}
                    {% if key == "affiliation" %}
                        {% for k,vk in val.items() %}
                            {% if vk %}
                                {% if k == 'name' %}
                                    {% set contributor_ns.affil_name = vk %}
                                {% elif k == 'address' %}
                                    {% set contributor_ns.affil_address = vk %}
                                {% elif k == 'phone' %}
                                    {% set contributor_ns.affil_phone = vk %}
                                {% elif k == 'email' %}
                                    {% set contributor_ns.affil_email = vk %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if key == 'contributorType' %}
                            {% set contributor_ns.contributorType = val %}
                        {% elif key == 'firstName' %}
                            {% set contributor_ns.firstName = val %}
                        {% elif key == 'lastName' %}
                            {% set contributor_ns.lastName = val %}
                        {% elif key == 'middleName' %}
                            {% set contributor_ns.middleName = val %}
                        {% elif key == 'phone' %}
                            {% set contributor_ns.phone = val %}
                        {% elif key == 'email' %}
                            {% set contributor_ns.email = val %}
                        {% elif key == 'address' %}
                            {% set contributor_ns.address = val %}
                        {% elif key == 'name' %}
                            {% set contributor_ns.name = val %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if contributor_ns.contributorType == "person" %}
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <h5>Person</h5>
                        </div>
                        <div class="col-12 col-md-9">
                            <table>
                                <tr>
                                    <td><b>First Name &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.firstName}}</td>
                                </tr>

                                <tr>
                                    <td><b>Middle Name &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.middleName}}</td>
                                </tr>

                                <tr>
                                    <td><b>Last Name &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.lastName}}</td>
                                </tr>

                                <tr>
                                    <td><b>Phone &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.phone}}</td>
                                </tr>

                                <tr>
                                    <td><b>Email &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.email}}</td>
                                </tr>

                                <tr>
                                    <td><b>Affiliation Name &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.affil_name}}</td>
                                </tr>

                                <tr>
                                    <td><b>Affiliation Address &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.affil_address}}</td>
                                </tr>

                                <tr>
                                    <td><b>Affiliation Phone &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.affil_phone}}</td>
                                </tr>

                                <tr>
                                    <td><b>Affiliation Email &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.affil_email}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if contributor_ns.contributorType == "organization" %}
                    <div class="row" style="margin-top: 5px">
                        <div class="col-12 col-md-3">
                            <h5>Organization</h5>
                        </div>
                        <div class="col-12 col-md-9">
                            <table>
                                <tr>
                                    <td><b>Name &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.name}}</td>
                                </tr>

                                <tr>
                                    <td><b>Address &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.address}}</td>
                                </tr>

                                <tr>
                                    <td><b>Email &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.email}}</td>
                                </tr>

                                <tr>
                                    <td><b>Phone &nbsp;&nbsp;</b></td>
                                    <td>{{contributor_ns.phone}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}

        {% endif %}

        {% if post.contacts %}
            <div class="row" style="margin-top: 5px">
                <div class="col-12 col-md-3">
                    <h4>Contact details</h4>
                </div>

                {% for contact in post["contacts"] %}
                    {% set contact_ns = namespace(name='', officialAddress='', phone='', email='', organization='') %}
                    {% for key,val in contact.items() %}
                        {% if key == 'name' %}
                            {% set contact_ns.name = val %}
                        {% elif key == 'phone' %}
                            {% set contact_ns.phone = val %}
                        {% elif key == 'email' %}
                            {% set contact_ns.email = val %}
                        {% elif key == 'officialAddress' %}
                            {% set contact_ns.officialAddress = val %}
                        {% elif key == 'organization' %}
                            {% set contact_ns.organization = val %}
                        {% endif %}
                    {% endfor %}

                    <div class="col-12 col-md-9">
                        <table>
                            <tr>
                                <td><b>Name &nbsp;&nbsp;</b></td>
                                <td>{{contact_ns.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Official Address &nbsp;&nbsp;</b></td>
                                <td>{{contact_ns.officialAddress}}</td>
                            </tr>
                            <tr>
                                <td><b>Email &nbsp;&nbsp;</b></td>
                                <td>{{contact_ns.email}}</td>
                            </tr>
                            <tr>
                                <td><b>Phone &nbsp;&nbsp;</b></td>
                                <td>{{contact_ns.phone}}</td>
                            </tr>
                            <tr>
                                <td><b>Organization &nbsp;&nbsp;</b></td>
                                <td>{{contact_ns.organization}}</td>
                            </tr>

                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if post.capabilities %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-3">
                    <h4>Capabilities in this contribution</h4>
                </div>
                <div class="col-12 col-md-9">
                    <table>
                    {% for c in post.capabilities %}
                        <tr>
                            <td style="padding-right: 10px">
                                <h4>{{c.name}}</h4>
                            </td>
                            <td>
                                {% if is_review %}
                                    <button class="button button4" onclick="cap_url_review('{{c.id}}')" > &nbsp;  View &nbsp; </button>
                                {% else %}
                                    <button class="button button4" onclick="cap_url('{{c.id}}')" > &nbsp; View &nbsp; </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if post.talents %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-3">
                    <h4>Talents in this contribution</h4>
                </div>
                <div class="col-12 col-md-9">
                    <table>
                       {% for t in post.talents %}
                           <tr>
                               <td style="padding-right: 10px">
                                   <h4>{{t.name}}</h4>
                               </td>
                               <td>
                                   {% if is_review %}
                                       <button class="button button4" onclick="tal_url_review('{{t.id}}')" > &nbsp; View  &nbsp; </button>
                                   {% else %}
                                       <button class="button button4" onclick="tal_url('{{t.id}}')" > &nbsp; View &nbsp; </button>
                                   {% endif %}
                               </td>
                           </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}

        {% if (is_reviewer or is_editable or is_review) %}
            <div class="row">
                <div class="col-12 col-md-3">
                    <h4>Contribution admins</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="small-body-text">
                        {% for x in post.contributionAdmins %}
                            {{x}} {% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <h4>Status</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="small-body-text">{{post.status}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <h4>Date created</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="small-body-text">{{post.dateCreated}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <h4>Date modified</h4>
                </div>
                <div class="col-12 col-md-9">
                    <div class="small-body-text">{{post.dateModified}}</div>
                </div>
            </div>
        {% endif %}
    </div> <!-- end of contribution details container -->

    <div class="container">
        <!-- buttons container -->
        {% if is_editable %}
            <button class="button button2" onclick="location.href = '{{ url_for('contribute.contribution_edit', contribution_id=post.id) }}';" >Edit Contribution</button>
            <!-- Button trigger modal -->
            <button type="button" class="button button3" data-toggle="modal" data-target="#confirmDelete">Delete Contribution</button>
        {% endif %}

        {% if is_reviewer %}
            <button class="button button4" onclick="location.href = '{{ url_for('contribute.contribution_review', contribution_id=post.id) }}';">Review Contribution</button>
        {% endif %}
    </div> <!-- end of buttons container -->

    {% if is_review %}
        <div class="container">
        <!-- review container -->
            <h1>Review</h1>
            <hr class="divider"/>
            <form class="form-horizontal" method="POST" onsubmit="return data_validation()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <h4>Status</h4>
                        </div>
                        <div class="col-sm-10" style="width: 250px">
                            <div class="catalog-dropdown-menu">
                                <select id="status" name="contribution_status">
                                {% if post["status"].lower() == "submitted" %}
                                    <option value="Submitted" selected>Submitted</option>
                                {% else %}
                                    <option value="Submitted">Submitted</option>
                                {% endif %}
                                {% if post["status"].lower() == "reviewing" %}
                                    <option value="Reviewing" selected>Reviewing</option>
                                {% else %}
                                    <option value="Reviewing" >Reviewing</option>
                                {% endif %}
                                {% if post["status"].lower() == "approved" %}
                                    <option value="Approved" selected>Approved</option>
                                {% else %}
                                    <option value="Approved">Approved</option>
                                {% endif %}
                                {% if post["status"].lower() == "disapproved" %}
                                    <option value="Disapproved" selected>Disapproved</option>
                                {% else %}
                                    <option value="Disapproved">Disapproved</option>
                                {% endif %}
                                {% if post["status"].lower() == "published" %}
                                    <option value="Published" selected>Published</option>
                                {% else %}
                                    <option value="Published">Published</option>
                                {% endif %}
                            </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <h4>Comment</h4>
                        </div>
                        <div class="col-md-9">
                            {% if 'review' in post %}
                                <textarea id="reviewer_comment" name="contribution_reviewer_comment"
                                          placeholder="Give a comment"
                                          style="height:150px">{{ post | filter_nested_dict(["review", "reviewerComment"]) }}</textarea>
                            {% else %}
                                <textarea id="contribution_detail" name="contribution_reviewer_comment"
                                          placeholder="Give a comment"
                                          style="height:150px"></textarea>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <h4>Last Updated</h4>
                        </div>
                        <div class="col-md-9">
                            {% if 'review' in post %}
                                {{ post | filter_nested_dict(["review", "lastUpdated"]) }}
                            {% endif %}
                        </div>
                        <input class="hidden" id="contribution_id" name="contribution_id" value="{{ post["id"] }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-2">
                        <table>
                            <tr>
                                <td>
                                    <input href="{{ url_for('contribute.home') }}"
                                           class="button button3"
                                           type="submit"
                                           value="Submit">
                                </td>
                                <td>
                                    <input class="button button4" type="reset" value="Reset">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div> <!-- end of review container -->
    {% endif %}

</div> <!-- end of main container -->

{% include 'footer.html' %}
{% include 'topnav_javascript.html' %}

<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmDeleteTitle">Delete Contribution</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the Contribution {{post.name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="button button2" data-dismiss="modal">Cancel</button>
                <button type="button" class="button button3" onclick="contribution_delete_url()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    var post = JSON.parse('{{ post | tojson | safe}}');
    var cid = "{{post.contributionid}}";

    function contribution_delete_url(){
        window.location.href = window.location.href + "/delete";
    }

    function cap_url(id){
        window.location.href =  window.location.href +  "/capabilities/" + id;
    }

    function tal_url(id){
        window.location.href = window.location.href + "/talents/" + id;
    }

    function get_url(id){
        var cur_url = window.location.href.split('/');
        window.location.href = cur_url[0] + "/contribute/create/" + id + "/edit";
    }

    function cap_url_review(id){
        var url = window.location.href + "/";
        url = url.replace(/([^\/]*\/)$/,"");
        window.location.href =  url +  "/capabilities/" + id;
    }

    function tal_url_review(id){
        var url = window.location.href + "/";
        url = url.replace(/([^\/]*\/)$/,"");
        window.location.href = window.location.href + "/talents/" + id;
    }

    var user_icon = document.getElementById('user_profile');
    user_icon.addEventListener('click', function () {
        if (user_icon.style.display === '') {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    })
    /*
    // Custom dropdown menu functions
    var dropdown_menu, i, j, l, ll, selElmnt, a, b, c;
    // Look for any elements with the class "catalog-dropdown-menu":
    dropdown_menu = document.getElementsByClassName("catalog-dropdown-menu");
    l = dropdown_menu.length;
    for (i = 0; i < l; i++) {
      selElmnt = dropdown_menu[i].getElementsByTagName("select")[0];
      ll = selElmnt.length;
      // For each element, create a new DIV that will act as the selected item:
      a = document.createElement("DIV");
      a.setAttribute("class", "select-selected");
      a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
      dropdown_menu[i].appendChild(a);
      // For each element, create a new DIV that will contain the option list:
      b = document.createElement("DIV");
      b.setAttribute("class", "select-items select-hide");
      for (j = 1; j < ll; j++) {
        // For each option in the original select element, create a new DIV that will act as an option item:
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
            // When an item is clicked, update the original select box, and the selected item:
            var y, i, k, s, h, sl, yl;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            sl = s.length;
            h = this.parentNode.previousSibling;
            for (i = 0; i < sl; i++) {
              if (s.options[i].innerHTML == this.innerHTML) {
                s.selectedIndex = i;
                h.innerHTML = this.innerHTML;
                y = this.parentNode.getElementsByClassName("same-as-selected");
                yl = y.length;
                for (k = 0; k < yl; k++) {
                  y[k].removeAttribute("class");
                }
                this.setAttribute("class", "same-as-selected");
                break;
              }
            }
            h.click();
        });
        b.appendChild(c);
      }
      dropdown_menu[i].appendChild(b);
      a.addEventListener("click", function(e) {
        // When the select box is clicked, close any other select boxes, and open/close the current select box:
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
      });
    }
    */

    function closeAllSelect(elmnt) {
      /* A function that will close all select boxes in the document,
      except the current select box: */
      var x, y, i, xl, yl, arrNo = [];
      x = document.getElementsByClassName("select-items");
      y = document.getElementsByClassName("select-selected");
      xl = x.length;
      yl = y.length;
      for (i = 0; i < yl; i++) {
        if (elmnt == y[i]) {
          arrNo.push(i)
        } else {
          y[i].classList.remove("select-arrow-active");
        }
      }
      for (i = 0; i < xl; i++) {
        if (arrNo.indexOf(i)) {
          x[i].classList.add("select-hide");
        }
      }
    }

    /* If the user clicks anywhere outside the select box,
    then close all select boxes: */
    document.addEventListener("click", closeAllSelect);

</script>
</body>
</html>
