<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='js/modernizr.js') }}" rel="javascript">
    <script src="../../static/js/modernizr.js"></script> <!-- Modernizr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>detailed view</title>
</head>
<body>

<div class="header">
    <div class="topnav" id="myTopnav">
        <a href="{{ url_for('contribute.home') }}"><i class="fa fa fa-home fa-lg"></i> Contributions Catalog</a>
        <a href="{{ url_for('contribute.create') }}"><i class="fa fa-plus-square fa-lg"></i> Contribute</a>
        <div class="topnav-right" id="nav_greeting" style="float: right; margin-right: 15px;">
            <meta id="nav-user-data">
            <a class="dropbtn" id="user_profile"><i class="fa fa-fw fa-user fa-lg"></i> Hello, {{ user }}! </a>
        </div>


    </div>
    <div class="dropdown-content" id="myDropdown" style="display: none">
        <a href="{{ url_for('contribute.logout') }}">Logout</a>
    </div>
</div>

<div class="container">
    <h2 id="contribute">Contribution Details</h2>


    <div class="row">
        <div class="col-12 col-sm-2">
            <h5>Contribution Name</h5>
        </div>
        <p class="col-sm-9">{{post.name}}</p>
    </div>


    <div class="row">
        <div class="col-12 col-sm-2">
            <h5>Contribution short description</h5>
        </div>
        <p class="col-sm-9">{{post.shortDescription}}</p>
    </div>


    <div class="row">
        <div class="col-12 col-sm-2">
            <h5>Contribution long description</h5>
        </div>
        <p class="col-sm-9">{{post.longDescription}}</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h5>Contributor details</h5>
        </div>
        <p class="col-sm-9">{{post.contributors}}</p>
    </div>


    <div class="row">
        <div class="col-12 col-sm-2">
            <h5>Contact details</h5>
        </div>
        <p class="col-sm-9">{{post.contacts}}</p>
    </div>


    <div class="row">
        <div class="col-12 col-sm-2">
            <h5>Capability details</h5>
        </div>
        <p class="col-sm-9">{{post.capabilities}}</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h5>Talents details</h5>
        </div>
        <p class="col-sm-9">{{post.talents}}</p>
    </div>
</div>


<div class="action">

</div>
<script>
    var post = JSON.parse('{{ post | tojson | safe}}');
    // document.getElementById('username').innerHTML = user.firstname + " " +user.lastname;
</script>
</body>
</html>