<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='js/modernizr.js') }}" rel="javascript">
    <script src="../static/js/modernizr.js"></script> <!-- Modernizr -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Contribution Details</title>
</head>
<style>
        /* Style the buttons */
    .btn {
        position: relative;
        margin-top: 20px;
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: white;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #ddd;
        color: white;
    }

    .btn.active {
        background-color: #666;
        color: white;
    }
</style>

<body onload=start()>
<div class="header">
    {% include 'topnav.html' %}
</div>

<div class="container">
    <h1 id="contribute">Contribution Details</h1>

    <hr class="divider"/>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Contribution Name</h4>
        </div>
        <p class="col-sm-2" style="text-align: justify;">{{post.name}}</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Contribution short description</h4>
        </div>
        <p class="col-sm-9">{{post.shortDescription}}</p>
    </div>

    {% if post.longDescription %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Contribution long description</h4>
            </div>
            <p class="col-sm-9">{{post.longDescription}}</p>
        </div>
    {% endif %}


    {% if post.contributors %}
        <h4>Contributor details</h4>
        {% for c in post.contributors %}
            <h5><b>{{ c["contributorType"] }}</b></h5>
            {% for key,val in c.items() %}
                {% if key == "affiliation" %}
                    {% for k,vk in val.items() %}
                        {% if vk %}
                        <div class="row">
                            <div class="col-12 col-sm-2">
                                affiliation {{k}}
                            </div>
                            <p class="col-sm-2">{{vk}}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% elif key == "contributorType" %}
                    <!--- skip contributorType -->
                {% elif val %}
                <div class="row">
                    <div class="col-12 col-sm-2">
                        {{key}}
                    </div>
                    <p class="col-sm-2">{{val}}</p>
                </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if post.contacts %}
    <h4>Contact details</h4>
        {% for contact in post["contacts"] %}
            {% for key,val in contact.items() %}
            <div class="row">
                <div class="col-12 col-sm-2">
                    {{key}}
                </div>
                <p class="col-sm-2">{{val}}</p>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if post.capabilities %}
    <h4>Capabilities in this contribution</h4>
        {% for c in post.capabilities %}
            <div class="row">
                <div class="col-12 col-sm-2">
                    <ol><h4>{{c.name}}</h4></ol>
                </div>
                {% if is_review %}
                    <button class="button button1" onclick="cap_url_review('{{c.id}}')" >  View  </button>
                {% else %}
                    <button class="button button1" onclick="cap_url('{{c.id}}')" >  View  </button>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    {% if post.talents %}
        <h4>Talents in this contribution</h4>
       {% for t in post.talents %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <ol><h4>{{t.name}}</h4></ol>
            </div>
            {% if is_review %}
                <button class="button button2" onclick="tal_url_review('{{t.id}}')" >  View  </button>
            {% else %}
                <button class="button button2" onclick="tal_url('{{t.id}}')" >  View  </button>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}

    {% if (is_reviewer or is_editable or is_review) %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Contribution admins</h4>
            </div>
            <p class="col-sm-9">
                {% for x in post.contributionAdmins %}
                    {{x}}
                {% endfor %}
            </p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Status</h4>
            </div>
            <p class="col-sm-9">{{post.status}}</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Date created</h4>
            </div>
            <p class="col-sm-9">{{post.dateCreated}}</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Date modified</h4>
            </div>
            <p class="col-sm-9">{{post.dateModified}}</p>
        </div>
    {% endif %}

    {% if is_editable %}
        <a class="button button3" role="button" href="{{ url_for('contribute.contribution_edit', contribution_id=post.id) }}">Edit Contribution</a>
    {% endif %}

    {% if is_reviewer %}
        <a class="button button4" role="button" href="{{ url_for('contribute.contribution_review', contribution_id=post.id) }}">Review Contribution</a>
    {% endif %}
</div>

{% if is_review %}
    <div class="container">
        <h1>Review</h1>
        <hr class="divider"/>
        <form class="form-horizontal" method="POST" onsubmit="return data_validation()">
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-sm-2">
                        <h4>Status</h4>
                    </div>
                    <div class="col-sm-10" style="width: 250px">
                        <select class="form-control" id="status" name="contribution_status">
                            {% if post["status"].lower() == "submitted" %}
                                <option value="Submitted" selected>Submitted</option>
                            {% else %}
                                <option value="Submitted">Submitted</option>
                            {% endif %}
                            {% if post["status"].lower() == "reviewing" %}
                                <option value="Reviewing" selected>Reviewing</option>
                            {% else %}
                                <option value="Reviewing" >Reviewing</option>
                            {% endif %}
                            {% if post["status"].lower() == "approved" %}
                                <option value="Approved" selected>Approved</option>
                            {% else %}
                                <option value="Approved">Approved</option>
                            {% endif %}
                            {% if post["status"].lower() == "disapproved" %}
                                <option value="Disapproved" selected>Disapproved</option>
                            {% else %}
                                <option value="Disapproved">Disapproved</option>
                            {% endif %}
                            {% if post["status"].lower() == "published" %}
                                <option value="Published" selected>Published</option>
                            {% else %}
                                <option value="Published">Published</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-2">
                        <h4>Comment</h4>
                    </div>
                    <div class="col-sm-10">
                        {% if 'review' in post %}
                            <textarea id="reviewer_comment" name="contribution_reviewer_comment"
                                      placeholder="Give a comment"
                                      style="height:150px">{{ post | filter_nested_dict(["review", "reviewerComment"]) }}</textarea>
                        {% else %}
                            <textarea id="contribution_detail" name="contribution_reviewer_comment"
                                      placeholder="Give a comment"
                                      style="height:150px"></textarea>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-2">
                        <h4>Last Updated</h4>
                    </div>
                    <div class="col-sm-10">
                        {% if 'review' in post %}
                            {{ post | filter_nested_dict(["review", "lastUpdated"]) }}
                        {% endif %}
                    </div>
                    <input class="hidden" id="contribution_id" name="contribution_id" value="{{ post["id"] }}">
                </div>
                <div class="row">
                    <div class="col-12 col-sm-2">
                        <table>
                            <tr>
                                <td>
                                    <input href="{{ url_for('contribute.home') }}"
                                           id="button_submit"
                                           type="submit"
                                           value="Submit">
                                </td>
                                <td>
                                    <input id="button_reset", type="reset" value="Reset">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endif %}

{% include 'topnav_javascript.html' %}

<script>
    var post = JSON.parse('{{ post | tojson | safe}}');
    var cid = "{{post.contributionid}}";

    function cap_url(id){
        window.location.href =  window.location.href +  "/capabilities/" + id;
    }

    function tal_url(id){
        window.location.href = window.location.href + "/talents/" + id;
    }

    function get_url(id){
        var cur_url = window.location.href.split('/');
        window.location.href = cur_url[0] + "/contribute/create/" + id + "/edit";
    }

    function cap_url_review(id){
        var url = window.location.href + "/";
        url = url.replace(/([^\/]*\/)$/,"");
        window.location.href =  url +  "/capabilities/" + id;
    }

    function tal_url_review(id){
        var url = window.location.href + "/";
        url = url.replace(/([^\/]*\/)$/,"");
        window.location.href = window.location.href + "/talents/" + id;
    }

    var user_icon = document.getElementById('user_profile');
    user_icon.addEventListener('click', function () {
        if (user_icon.style.display === '') {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    })

</script>
</body>
</html>
