{% extends 'base.html' %}
{% block title %} Talent Details {% endblock %}
{% block styles %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/bar.css') }}" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

<body onload=start()>

{% block content %}
<div class="container">
    <h1>Talent Details</h1>

    <hr class="divider"/>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Talent Name </h4>
        </div>
        <p class="col-sm-9">{{post.name}}</p>
    </div>

    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Talent description </h4>
        </div>
        <p class="col-sm-9">{{post.shortDescription}}</p>
    </div>

    {% if post.icon %}
    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Icon</h4>
        </div>
        <p class="col-sm-9">{{post.icon}}</p>
    </div>
    {% endif %}

    {% if post.requiredCapabilities %}
    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Required Capabilities</h4>
        </div>
        {% for x in post.requiredCapabilities %}
            <p class="col-sm-9">
                <table>
                    <tr>
                        <td><b>Capability Name&nbsp;&nbsp;</b></td>
                        <td>{{x['name']}}</td>
                    </tr>
                    <tr>
                        <td><b>Capability description&nbsp;&nbsp;</b></td>
                        <td>{{x['description']}}</td>
                    </tr>
                    {% if x['isOpenSource'] %}
                    <tr>
                        <td><b>Is code open source?&nbsp;&nbsp;</b></td>
                        <td>{{x['isOpenSource']}}</td>
                    </tr>
                    {% endif %}
                    {% if x['apiBaseUrl'] %}
                    <tr>
                        <td><b>Source code repository URL&nbsp;&nbsp;</b></td>
                        <td>{{x['apiBaseUrl']}}</td>
                    </tr>
                    {% endif %}
                    {% if x['apiDocUrl'] %}
                    <tr>
                        <td><b>API Documentation URL&nbsp;&nbsp;</b></td>
                        <td>{{x['apiDocUrl']}}</td>
                    </tr>
                    {% endif %}
                    {% if x['deploymentDetails'] %}
                    <tr>
                        <td><b>Deployment Status&nbsp;&nbsp;</b></td>
                        <td>{{x['deploymentDetails']['location']}}</td>
                    </tr>
                    {% endif %}
                    <!-- follow should be hidden. Only for reviewers-->
                {% if reviewer %}
                    {% if x['version'] %}
                    <tr>
                        <td><b>Version&nbsp;&nbsp;</b></td>
                        <td>{{x['version']}}</td>
                    </tr>
                    {% endif %}
                    {% if x['healthCheckUrl'] %}
                    <tr>
                        <td><b>Health Check URL&nbsp;&nbsp;</b></td>
                        <td>{{x['healthCheckUrl']}}</td>
                    </tr>
                    {% endif %}
                    {% if x['dataDeletionEndpointDetails'] %}
                    <tr>
                        <td valign="top"><b>Data Deletion Endpoint Details&nbsp;&nbsp;</b></td>
                        <td>
                            <table>
                                {% if x['dataDeletionEndpointDetails']['apiKey'] %}
                                <tr>
                                    <td><b>Api Key&nbsp;&nbsp;</b></td>
                                    <td>{{x['dataDeletionEndpointDetails']['apiKey']}}</td>
                                </tr>
                                {% endif %}
                                {% if x['dataDeletionEndpointDetails']['deletionEndpoint'] %}
                                <tr>
                                    <td><b>Deletion Endpoint&nbsp;&nbsp;</b></td>
                                    <td>{{x['dataDeletionEndpointDetails']['deletionEndpoint']}}</td>
                                </tr>
                                {% endif %}
                                {% if x['dataDeletionEndpointDetails']['description'] %}
                                <tr>
                                    <td><b>Description&nbsp;&nbsp;</b></td>
                                    <td>{{x['dataDeletionEndpointDetails']['description']}}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                    {% if x['deploymentDetails'] %}
                    <tr>
                        <td valign="top"><b>Deployment Details&nbsp;&nbsp;</b></td>
                        <td>
                            <table>
                                {% if x['deploymentDetails']['authMethod'] %}
                                <tr>
                                    <td><b>Auth Method&nbsp;&nbsp;</b></td>
                                    <td>{{x['deploymentDetails']['authMethod']}}</td>
                                </tr>
                                {% endif %}
                                {% if x['deploymentDetails']['databaseDetails'] %}
                                <tr>
                                    <td><b>Database Details&nbsp;&nbsp;</b></td>
                                    <td>{{x['deploymentDetails']['databaseDetails']}}</td>
                                </tr>
                                {% endif %}
                                {% if x['deploymentDetails']['environmentVariables'] %}
                                <tr>
                                    <td><b>Environment Variables&nbsp;&nbsp;</b></td>
                                    <td>{{x['deploymentDetails']['environmentVariables']}}</td>
                                </tr>
                                {% endif %}
                                {% if x['deploymentDetails']['location'] %}
                                <tr>
                                    <td><b>Location&nbsp;&nbsp;</b></td>
                                    <td>{{x['deploymentDetails']['location']}}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                {% endif %}
                    <!-- extra line for the separation for the iteration -->
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </p>
        {% endfor %}
    </div>
    {% endif %}

    {% if post.requiredBuildingBlocks %}
    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Required Building Blocks</h4>
        </div>
        <p class="col-sm-9">{{post.requiredBuildingBlocks}}</p>
    </div>
    {% endif %}

    {% if post.minUserPrivacyLevel %}
    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Minimum user privacy level</h4>
        </div>
        <p class="col-sm-9">{{post.minUserPrivacyLevel}}</p>
    </div>
    {% endif %}

    {% if post.minEndUserRoles %}
    <div class="row">
        <div class="col-12 col-sm-2">
            <h4>Minimum set of end-user roles</h4>
        </div>
        <p class="col-sm-9">{{post.minEndUserRoles}}</p>
    </div>
    {% endif %}

    {% if reviewer %}
        {% if post.startDate %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Start Date</h4>
            </div>
            <p class="col-sm-9">{{post.startDate}}</p>
        </div>
        {% endif %}

        {% if post.endDate %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>End Date</h4>
            </div>
            <p class="col-sm-9">{{post.endDate}}</p>
        </div>
        {% endif %}

        {% if post.longDescription %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Long Description</h4>
            </div>
            <p class="col-sm-9">{{post.longDescription}}</p>
        </div>
        {% endif %}

        {% if post.selfCertification %}
        <div class="row">
            <div class="col-12 col-sm-2">
                <h4>Self Certification</h4>
            </div>
            <p class="col-sm-9">
                <table>
                    {% if post.selfCertification.dataDeletionUponRequest %}
                    <tr>
                        <td><b>Capability Name&nbsp;&nbsp;</b></td>
                        <td>{{post.selfCertification.dataDeletionUponRequest}}</td>
                    </tr>
                    {% endif %}
                    {% if post.selfCertification.discloseAds %}
                    <tr>
                        <td><b>Capability Name&nbsp;&nbsp;</b></td>
                        <td>{{post.selfCertification.discloseAds}}</td>
                    </tr>
                    {% endif %}
                    {% if post.selfCertification.discloseImageRights %}
                    <tr>
                        <td><b>Capability Name&nbsp;&nbsp;</b></td>
                        <td>{{post.selfCertification.discloseImageRights}}</td>
                    </tr>
                    {% endif %}
                    {% if post.selfCertification.discloseSponsors %}
                    <tr>
                        <td><b>Capability Name&nbsp;&nbsp;</b></td>
                        <td>{{post.selfCertification.discloseSponsors}}</td>
                    </tr>
                    {% endif %}
                    {% if post.selfCertification.respectingUserPrivacySetting %}
                    <tr>
                        <td><b>Capability Name&nbsp;&nbsp;</b></td>
                        <td>{{post.selfCertification.respectingUserPrivacySetting}}</td>
                    </tr>
                    {% endif %}
                </table>
            </p>
        </div>
        {% endif %}
    {% endif %}

    <button class="button button3" onclick="get_url()">View Contribution</button>
</div>


<div class="action">

</div>
{% endblock %}

</body>


<script>
    var post = JSON.parse('{{ post | tojson | safe}}');
    function get_url(){
        var cur_url = window.location.href.split('/');
        var res = '';
        for (let i = 0; i < cur_url.length-1; i++){
            res += cur_url[i];
            if (cur_url[i+1] == 'talents' || cur_url[i+1] == 'capabilities'){
                break;
            }
            res += '/';
        }
        window.location.href = res;
    }

    var user_icon = document.getElementById('user_profile');
    user_icon.addEventListener('click', function () {
        if (user_icon.style.display === '') {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    })
</script>

