openapi: 3.0.0
info:
  title: Rokwire App Config Building Block API
  description: App Config Building Block API Documentation
  version: 1.11.0
servers:
- url: https://api.rokwire.illinois.edu
  description: Production server
- url: https://api-test.rokwire.illinois.edu
  description: Test server
- url: https://api-dev.rokwire.illinois.edu
  description: Development server
tags:
- name: App Configuration
  description: API endpoints for managing mobile app configuration

paths:
  /app/configs:
    post:
      tags:
      - App Configuration
      summary: Creates mobile app configuration
      description: |
        Auth: Requires a valid id_token that indicates membership in the following group\:

          ```urn:mace:uiuc.edu:urbana:authman:app-rokwire-service-policy-rokwire app config manager```
      security:
        - CoreUserAuth: []
      requestBody:
        description: Creates AppConfig object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfig'
            examples:
              withoutSecretKeys:
                value:
                  mobileAppVersion: "1.0.1"
                  platformBuildingBlocks:
                    appconfig: https://api.rokwire.illinois.edu/app/configs
                    profile: https://api.rokwire.illinois.edu/profiles
                  thirdPartyServices:
                    facebook: https://facebook.com
                    instagram_url: https://instagram.com
                  otherUniversityServices:
                    illini_cash_base_url: https://shibtest.housing.illinois.edu/MobileAppWS/api
                  secretKeys: ""
                  upgrade:
                    available_version: "1.0.2"
                    required_version: "1.0.0"
                    "url":
                      "android": "market://details?id=com.dropbox.android"
                      "ios": "itms-apps://itunes.apple.com/us/app/apple-store/id327630330"
              withSecretKeys:
                value:
                  mobileAppVersion: "1.0.2"
                  platformBuildingBlocks:
                    appconfig: https://api.rokwire.illinois.edu/app/configs
                    profile: https://api.rokwire.illinois.edu/profiles
                  thirdPartyServices:
                    facebook: https://facebook.com
                    instagram_url: https://instagram.com
                  otherUniversityServices:
                    illini_cash_base_url: https://shibtest.housing.illinois.edu/MobileAppWS/api
                  secretKeys: "123abc456"
                  upgrade:
                    available_version: "1.0.2"
                    required_version: "1.0.0"
                    "url":
                      "android": "market://details?id=com.dropbox.android"
                      "ios": "itms-apps://itunes.apple.com/us/app/apple-store/id327630330"
        required: true
      responses:
        201:
          description: AppConfig created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfig'
        400:
          description: Bad request
        401:
          description: Unauthorized
        500:
          description: Internal error
    get:
      tags:
      - App Configuration
      summary: Reads mobile app configuration
      description: |
        Auth: Requires a valid API Key for access.
      security:
        - ApiKeyAuth: []
        - CoreTokenAuth: []
      parameters:
        - name: mobileAppVersion
          in: query
          description: query by mobile app version, results contain all app configurations if no paramer is given; If given mobileAppVersion, it will return the closest app config that is less than or equal to the given version.
          style: form
          explode: false
          schema:
            type: string
      responses:
        200:
          description: successfully read mobile app configuration
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppConfig'
        400:
          description: Bad request.
        401:
          description: Unauthorized
        404:
          description: AppConfig not found
        500:
          description: Internal error
  /app/configs/ok:
    get:
      tags:
        - App Configuration
      summary: Healthcheck endpoint
      description: Public endpoint which returns success reponse
      responses:
        200:
          description: Healthcheck ok
        400:
          description: Bad request.
        404:
          description: AppConfig not found
        500:
          description: Internal error
  /app/configs/version:
    get:
      tags:
        - App Configuration
      summary: version endpoint
      description: Public endpoint which returns the latest version of appconfig BB
      responses:
        200:
          description: version returned as text
          content:
            text/plain:
              schema:
                type: string
        400:
          description: Bad request.
        404:
          description: AppConfig not found
        500:
          description: Internal error
  /app/configs/{id}:
    get:
      tags:
      - App Configuration
      summary: Reads mobile app configuration by given id
      description: |
        Auth: Requires a valid API Key for access.
      security:
        - ApiKeyAuth: []
        - CoreTokenAuth: []
      parameters:
      - name: id
        in: path
        description: app config id to read
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: successfully read mobile app configuration
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppConfig'
        400:
          description: Bad request.
        401:
          description: Unauthorized
        404:
          description: AppConfig not found
        500:
          description: Internal error
    put:
      tags:
      - App Configuration
      summary: Updates mobile app configuration
      description: |
        Auth: Requires a valid id_token that indicates membership in the following group\:

          ```urn:mace:uiuc.edu:urbana:authman:app-rokwire-service-policy-rokwire app config manager```
      security:
        - CoreUserAuth: []
      parameters:
      - name: id
        in: path
        description: app config id to update
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: update AppConfig object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppConfig'
        required: true
      responses:
        200:
          description: successfully updated mobile app configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfig'
        401:
          description: Unauthorized
        405:
          description: Invalid input
        500:
          description: Internal error
    delete:
      tags:
      - App Configuration
      summary: Deletes mobile app configuration
      description: |
        Auth: Requires a valid id_token that indicates membership in the following group\:

        ```urn:mace:uiuc.edu:urbana:authman:app-rokwire-service-policy-rokwire app config manager```
      security:
        - CoreUserAuth: []
      parameters:
      - name: id
        in: path
        description: app config id to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        202:
          description: AppConfig deleted
        401:
          description: Unauthorized
        404:
          description: AppConfig not found
        500:
          description: Internal error
components:
  schemas:
    AppConfig:
      type: object
      properties:
        id:
          type: string
        mobileAppVersion:
          type: string
          description: unique and is empty or conforms major.minor.patch format
        platformBuildingBlocks:
          type: object
        thirdPartyServices:
          type: object
        otherUniversityServices:
          type: object
        secretKeys:
          type: string
        upgrade:
          type: object
          properties:
            available_version:
              type: string
            required_version:
              type: string
            url:
              type: object
              properties:
                android:
                  type: string
                ios:
                  type: string
      required:
        - mobileAppVersion
        - platformBuildingBlocks
        - thirdPartyServices
        - otherUniversityServices
        - secretKeys
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: ROKWIRE-API-KEY
      x-apikeyInfoFunc: auth_middleware.verify_apikey
      description: Each client version has unique API key (e.g., "c6befa22-50a6-4403-a8fc-378c9719743b"). For API endpoints that do not require user authentication, the ROKWIRE-API-KEY header must contain an API key corresponding to a supported client.
    CoreUserAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT # https://openid.net/specs/openid-connect-core-1_0.html [id_token]
      x-bearerInfoFunc: auth_middleware.verify_core_userauth
      description: The client must send a valid (i.e., signed, not expired) OpenID Connect id_token in the Authorization header when making requests to API endpoints that require user authentication.
    CoreTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      x-bearerInfoFunc: auth_middleware.verify_core_token
      description: The client must send a valid (i.e., signed, not expired) OpenID Connect id_token in the Authorization header including anonymous tokens