<!doctype html>
<html lang="en">
    <head>
        <title>

            {%  block title %}
                <h4>Contribution Catalog / Packager</h4>
            {%  endblock %}
        </title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bar.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script> <!-- Modernizr -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        {%  block styles %} {% endblock %}
        {% block scripts %} {% endblock %}
    </head>


    <body onload="start()">
            {% include 'topnav.html' %}
            <script type="text/javascript" src="{{ url_for('static', filename='js/topnav.js') }}"></script>
            <section>
                {% block header %}{% endblock %}
                {%  block content %}{% endblock %}
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </section>

            <div class="footer" id="footer">
                Version: {{ git_tag }} &emsp; SHA: {{ git_sha }} &emsp; &#124; &emsp; &copy; University of Illinois Board of Trustees &emsp; &#124; &emsp; <a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Privacy Policy</a>
            </div>
    </body>

</html>
