<!-- Rokwire footer -->
<div class="rokwire-footer">
    <img src= "{{ url_for('static', filename='powered-by-rokwire-no-i-block.png') }}"
         srcset="{{ url_for('static', filename='powered-by-rokwire-no-i-block@2x.png') }} 2x, {{ url_for('static', filename='powered-by-rokwire-no-i-block@3x.png') }} 3x"
         alt="footer logo" />
    <div>Version: {{ git_tag }} &emsp; SHA: {{ git_sha }} &emsp; &#124; &emsp; &copy; University of Illinois Board of Trustees &emsp; &#124; &emsp; <a href="https://www.vpaa.uillinois.edu/resources/web_privacy" class="link">Privacy Policy</a> </div>
</div>
