<div class="topnav" id="myTopnav">
    <a href="{{ url_for('contribute.home') }}"><i class="fa fa fa-home fa-lg"></i> Contributions Catalog</a>
    <div id="submit_contribution" style="display: none;">
        <a href="{{ url_for('contribute.create') }}"><i class="fa fa-plus-square fa-lg"></i> Contribute</a>
    </div>

    <div class="topnav-right" id="nav_greeting" style="display: none; float: right; margin-right: 15px;">
        <meta id="nav-user-data" user="{{user}}">
        <a class="dropbtn" id="user_profile"><i class="fa fa-fw fa-user fa-lg"></i> Hello, {{ user }}! </a>
    </div>

    <div class="topnav-right" id="nav_login" style="display: none; float: right; margin-right: 15px;">
        <a href="{{ url_for('contribute.login') }}"><i class="fa fa-sign-in fa-lg"></i> Login</a>
    </div>
</div>

<div class="dropdown-content" id="myDropdown">
    <a href="{{ url_for('contribute.logout') }}">Logout</a>
</div>

<script>
    function start() {
        var user_name = "{{ user }}";
        if (user_name === "None") {
            user_name = "";
        }
        console.log(user_name);
        // user is None here
        // document.getElementById("demo").innerHTML = "{{user}}"
        // var user_name = $('#nav-user-data').data("user");
        //console.log(user_name)
        // alert(user_name)
        var nav_login = document.getElementById('nav_login');
        var nav_greet = document.getElementById('nav_greeting')
        var nav_user = document.getElementById('user_profile')
        var submit_btn = document.getElementById('submit_contribution')
        if (user_name !== undefined && user_name.length > 0) {
            nav_login.style.display = 'none';
            nav_greet.style.display = 'block';
            nav_user.style.display = 'block';
            submit_btn.style.display = 'block';
        } else {
            nav_login.style.display = 'block';
            nav_greet.style.display = 'none';
            nav_user.style.display = 'block';
            submit_btn.style.display = 'none';
        }
    }
</script>