openapi: 3.0.2
info:
  title: rokwire-auth
  description: rokwire auth
  version: "0.1.0alpha"
paths:
  /authentication/phone-initiate:
    post:
      summary: |
        Step 1 of 2 for phone number verification. Initiates the verification with a text or
        call that contains a code. That code should then be provided to the
        /authentication/phone-verify endpoint.
      tags:
        - Authentication
      operationId: auth_rest_service.initiate_verification
      responses:
        201:
          description: initiation successful
        400:
          description: bad request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationInitBody'
            examples:
              sms:
                value:
                  phoneNumber: "1234567890"
                  channel: "sms"
              call:
                value:
                  phoneNumber: "1234567890"
                  channel: "call"
  /authentication/phone-verify:
    post:
      summary: |
        Step 2 of 2 for phone number verification. The request body should contain the code that was sent to the end user as a result of the /authentication/phone-initiate endpoint.
        phone-verify will check if the code matches what was originally sent to the user.
      tags:
        - Authentication
      operationId: auth_rest_service.verification_check
      responses:
        200:
          description: the result of the verification
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - true
                      id_token:
                        type: string
                    required:
                      - success
                      - id_token
                  - type: object
                    properties:
                      success:
                        type: boolean
                        enum:
                          - false
                    required:
                      - success
              example:
                success: true
                id_token: deadbeef1234
        400:
          description: bad request
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationCheckBody'
  /authentication/ping:
    get:
      summary: ping
      operationId: auth_rest_service.ping
      responses:
        200:
          description: success
components:
  schemas:
    PhoneNumber:
      type: string
      minLength: 10
      maxLength: 10
      # pattern: '^\d{10}$'
    VerificationInitBody:
      type: object
      properties:
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
        channel:
          type: string
          enum:
            - sms
            - call
      required:
        - phoneNumber
        - channel
      example:
        phoneNumber: "1234567890"
        channel: "sms"
    VerificationCheckBody:
      type: object
      properties:
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
        code:
          type: string
          minLength: 6
          maxLength: 6
      required:
        - phoneNumber
        - code
      example:
        phoneNumber: "1234567890"
        code: "123456"
